.user-card-profile{
    display: inherit;
    margin-bottom: 30px;
    padding-top: 100px;
    
    h3{
        

        &:hover{
            color:#b10455;
            text-decoration: underline;
        }
    }

    


    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border-style: solid;
        // border-color: rgb(112, 110, 110);
        border-color: #b10455;
    }
}